@model Capstone1.Models.Event

@if (Model == null)
{
    <h2>No Events Found</h2>
}
else
{
    <br />
    <h3>Event ID: @Model.Id</h3>
    <h3>Event Name: @Model.Name</h3>
    <h3>Event Time: @Model.Time</h3>
    <h3>Event Date: @Model.Date</h3>
    <h3>Event Location: @Model.Location</h3>
    <h3>Event Age Restriction Year: @Model.AgeRestriction</h3>
    <h3>Event Description: @Model.Description</h3>
    <br />

    <a asp-controller="Event" asp-action="Edit" asp-route-id="@Model.Id"
       class="btn btn-primary mx-2"><i class="bi bi-pencil-square"></i> Edit</a>
    <a onclick="alert('You are deleting this event')" asp-controller="Event" asp-action="Delete" asp-route-id="@Model.Id"
       class="btn btn-secondary mx-2"><i class="bi bi-trash"></i> Delete</a>

    <br />
    <br />
    <br />
}

